.RegistrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 8vh 40px;
    width: 40vw;
    height: 30vh;
    background-color: #a4bfeb;
    text-align: center;
    border-radius: 16px;
    border: 5px solid #8aa1c7;
}

.RegistrationForm h1 {
    margin-top: 0;
    padding-top: 0;
    color:#ffffff;
}

.RegistrationForm input {
    width: 100%;
    padding: 12px 16px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    background-color: #f4f6fa;
}

.RegistrationForm input:focus {
    border: none;
    box-shadow: 0 0 0 3px #f2f3f5;
    outline: none;
}

.RegistrationForm input::placeholder {
    color: #aaa;
    font-size: 14pt;
    vertical-align: middle;
}

.RegistrationForm input[type="password"] {
    font-family: sans-serif;
}

.RegistrationForm button {
    width: 100%;
    margin: 10px;
    padding: 12px 24px;
    font-size: 14pt;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #81BECE;
    font-weight: bold;
    background-color: #436cad;
    box-shadow: 0 -3px #3c609b inset;
}

.RegistrationForm button:hover {
    background-color: #3c609b;
}

.RegistrationForm button:active {
    background-color: #314e7e;
    box-shadow: 0 3px #314e7e inset;
}
